.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  max-width: 1128px;
}

.gallery-item {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow: visible;
max-width: 360px;
}

.gallery-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.gallery-image {
  max-width: 360px;
  cursor: pointer;
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto; 
  transition: transform 300ms ease-in-out;
}
.gallery-image:hover {
  transform: scale(1.05);
}
